:root {
    --hacker-green: #00ff41;
    --dark-bg: #0a0a0a;
}

body {
    background-color: var(--dark-bg);
    color: var(--hacker-green);
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas { position: fixed; top: 0; left: 0; z-index: -1; }

.box {
    background: rgba(0, 0, 0, 0.9);
    border: 2px solid var(--hacker-green);
    box-shadow: 0 0 15px var(--hacker-green);
    padding: 20px;
    width: 90%;
    max-width: 500px;
    text-align: center;
    z-index: 10;
}

#messages {
    height: 300px;
    overflow-y: auto;
    border: 1px solid rgba(0, 255, 65, 0.2);
    margin-bottom: 10px;
    text-align: left;
    padding: 10px;
    display: flex;
    flex-direction: column; /* Faz as mensagens ficarem uma embaixo da outra */
    background: rgba(0, 0, 0, 0.5); /* Fundo levemente transparente */
    color: #00ff41 !important; /* Força a cor verde nas mensagens */
    }

.msg-bubble { margin-bottom: 8px; font-size: 0.9em; word-wrap: break-word; border-left: 2px solid var(--hacker-green); padding-left: 5px; }
.msg-user { color: #fff; font-weight: bold; }

input[type="text"] {
    background: black;
    border: 1px solid var(--hacker-green);
    color: var(--hacker-green);
    padding: 12px;
    width: 80%;
    margin-bottom: 10px;
    outline: none;
}

button {
    background: var(--hacker-green);
    color: black;
    border: none;
    padding: 12px 25px;
    cursor: pointer;
    font-weight: bold;
}

.hidden { display: none !important; }
